@import "./imports/_vars";
@import "./_controls";
@import "./_output";

body {
  margin: 0;
  padding: 0;
  background: #000;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  h1 {
    color: #fff;
    margin: 25px 0 25px 50px;
    font-size: 48px;
  }
}
